/* Banda */

.fondoBanda{
    background-image: url(../media/banners/fondoBanda3.jpg);
    width: 100%; 
    height: auto;
    background-repeat:no-repeat; 
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    color: white;
    text-align: center;
    padding: 20px;    
}
.animate__fadeInDown{
    font-weight: 700;
}
.containerFotoBanda{
    margin: auto;
    padding: 20px;
}
.carousel-inner{
    .carousel-item{
        img{
            padding: 20px;
            width: 350px;
            height: 550px;
        }
    }
}