/* Discografia */

.mainDiscografia{
    background-image: url(../media/banners/fondoDiscografia.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
}
.setlist{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
      .card{
           width: 330px;
           height: 320px;
           border-radius: 8px;
           margin: 20px;
           text-align: center;
           color: white;
           background-color: black;
           overflow-x: hidden;
           transition: all 0.25s;
           cursor: pointer;          
            &:hover{
               transform: translateY(-15px);
               box-shadow: 0 12px 16px white}
               .imgDiscos{
                   width: 330px;
                    height: 220px;
                  }
                }
             }
        
