/* Index */

.fondoIndex{
    background-image: url(../media/banners/metallicaFondoIndex.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
        .musica{
            width:80%;
            height: 80;
        }
    }