/* Index */

.fondoIndex{
    background-image: url(../media/banners/metallicaFondoIndex.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
        .musica{
            margin:auto 20px;
            padding: 5px;
            width:80%;
            height: 80;}
            .formulario{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                
                .contenedor_formulario{
                background-image:linear-gradient(to bottom, black ,rgb(66, 63, 63), black);
                margin: 10px;
                color: white;                
                border-radius: 15px;
                text-align: center;
                       }
                    }
                
    }