/* Variables */ 
$subtituloEstilo: italic;
$fontRoboto: 'Roboto', sans-serif;
$fontW: 700;
$bgvideo1: rgb(26, 25, 25);
$bgvideo2:rgb(40, 38, 38);
$bgvideo3:rgb(69, 65, 65);
$bgvideo4:rgb(102, 96, 96);
/* Partials */
@import "header";
@import "_index";
@import "_historia";
@import "_miembros";
@import "_discografia";
@import "_banda";
@import "_videos";
@import "_frases";
@import "footer";
@import "mediaquerys";
/* Mapas */
$encabezados:(
    xl:rgb(165, 160, 160),
    l:rgb(125, 117, 117)
    );
$xl: map-get($encabezados, xl );
$l: map-get($encabezados , l );

h1{
    color: $xl;
}
h2{
    color: $l;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontRoboto;
}
body{
    display: grid;
    grid-template-areas: 
    "header "
    "navBar"
    "main"
    "footer";
}
main{
    grid-area: main;
    height: auto;
    width: 100%;   
}