/* Variables */ 
$subtituloEstilo: italic;
$fontRoboto: 'Roboto', sans-serif;
$fontW: 700;
$bgvideo1: rgb(24, 79, 245);
$bgvideo2:rgb(7, 62, 203);
$bgvideo3:rgb(6, 43, 163);
$bgvideo4:rgb(19, 77, 210);

@import "header";
@import "_index";
@import "_historia";
@import "_miembros";
@import "_discografia";
@import "_banda";
@import "_oficial";
@import "_frases";
@import "footer";
@import "mediaquerys";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontRoboto;
}
body{ 
   
     display: grid;
     grid-template-areas: 
     "header "
     "navBar"
     "main"
     "footer";
}

main{
    grid-area: main;
    height: auto;
    width: 100%;   
}

/* Mapas */
$encabezados:(
    xl:rgb(165, 160, 160),
    l:rgb(125, 117, 117)
    );
$xl: map-get($encabezados, xl );
$l: map-get($encabezados , l );

h1{
    color: $xl;
}
h2{
    color: $l;
}

  