/* Variables */
/* Header */
header {
  grid-area: header;
  align-items: center;
  width: 100%; }
  header .headerImg {
    width: 100%;
    display: block;
    grid-area: header; }
  header .container-fluid {
    padding: 0 !important; }
  header .navbar-nav {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to bottom, black, #423f3f, black);
    display: flex;
    justify-content: space-evenly; }
  header .nav-item a {
    text-decoration: none;
    display: block;
    text-align: center;
    color: white; }
    header .nav-item a:hover {
      color: red;
      background-image: linear-gradient(to bottom, black, #423f3f, black);
      display: block; }
  header ul li:hover ul {
    background-color: black;
    display: block; }

/* Index */
.fondoIndex {
  background-image: url(../media/banners/metallicaFondoIndex.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh; }
  .fondoIndex .musica {
    padding: 15px;
    width: 80%;
    height: 80; }

/* Historia */
.fondoNegro {
  height: 100%;
  width: 100%;
  background-image: url(../media/banners/blackalbum.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: auto;
  color: white; }
  .fondoNegro .titulo {
    padding: 10px;
    font-weight: 700;
    text-align: center; }
  .fondoNegro .subtitulo {
    margin: 0px;
    padding: 1rem;
    font-weight: 400;
    font-style: italic;
    text-align: center; }
  .fondoNegro .parrafos {
    margin: 5px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    word-spacing: 2px;
    text-align: center; }
  .fondoNegro .imgHistoria {
    margin: auto;
    padding: 25px;
    width: 400px;
    height: 300px;
    opacity: 1;
    display: block; }

/* Miembros */
.parrafoMiembros, .parrafoMiembros_1, .parrafoMiembros_2, .parrafoMiembros_3, .parrafoMiembros_4, .parrafoMiembros_5 {
  margin: 1rem;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-style: italic; }

.imgMiembros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px; }
  .imgMiembros .miembrosJpg {
    padding: 5px;
    width: 250px;
    height: 250px;
    opacity: .4;
    transition: transform .5s; }
    .imgMiembros .miembrosJpg:hover {
      transform: scale(1.5);
      opacity: 1;
      border: solid white 2px; }

/* Extends */
.parrafoMiembros, .parrafoMiembros_1, .parrafoMiembros_2, .parrafoMiembros_3, .parrafoMiembros_4, .parrafoMiembros_5 {
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  text-align: center; }

.parrafoMiembros_1 {
  background-color: #1a1919; }

.parrafoMiembros_2 {
  background-color: #282626; }

.parrafoMiembros_3 {
  background-color: #454141; }

.parrafoMiembros_4 {
  background-color: #666060; }

.parrafoMiembros_5 {
  background-color: #8c8383; }

/* Discografia */
.mainDiscografia {
  background-image: url(../media/banners/fondoDiscografia.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: auto; }

.setlist {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }
  .setlist .card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    margin: 20px;
    text-align: center;
    color: white;
    background-color: black;
    overflow-x: hidden;
    transition: all 0.25s; }
    .setlist .card:hover {
      transform: translateY(-15px);
      box-shadow: 0 12px 16px white; }
    .setlist .card .imgDiscos {
      width: 330px;
      height: 220px; }

/* Banda */
.fondoBanda {
  background-image: url(../media/banners/fondoBanda3.jpg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  color: white;
  text-align: center;
  padding: 20px; }

.animate__fadeInDown {
  font-weight: 700; }

.containerFotoBanda {
  margin: auto;
  padding: 20px; }

.carousel-inner .carousel-item img {
  padding: 20px;
  width: 350px;
  height: 550px; }

/* Video */
.fondoVideo {
  background-image: url(../media/banners/fondoEnvivo1.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  color: white;
  height: auto;
  width: 100%; }
  .fondoVideo .videosOficial .titulo {
    padding: 10px;
    text-align: center; }
    .fondoVideo .videosOficial .titulo .parrafomiembros {
      margin: 1rem;
      padding: 1rem;
      font-style: italic;
      font-family: "Roboto", sans-serif; }

/* Mixin */
.parrafoMiembros_A {
  background-color: #184ff5;
  margin: 1rem;
  padding: 1rem;
  font-style: italic;
  font-family: "Roboto", sans-serif; }

.parrafoMiembros_B {
  background-color: #073ecb;
  margin: 1rem;
  padding: 1rem;
  font-style: italic;
  font-family: "Roboto", sans-serif; }

.parrafoMiembros_C {
  background-color: #062ba3;
  margin: 1rem;
  padding: 1rem;
  font-style: italic;
  font-family: "Roboto", sans-serif; }

.parrafoMiembros_D {
  background-color: #134dd2;
  margin: 1rem;
  padding: 1rem;
  font-style: italic;
  font-family: "Roboto", sans-serif; }

/* Frases */
.fondoFrases {
  background-image: url(../media/banners/fondoFrases.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .fondoFrases .imgFrases {
    display: flex;
    margin: auto;
    padding: 20px;
    width: 350px;
    height: auto; }

/* Footer */
footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: white;
  text-align: center;
  height: 60px; }

/* min-width: 769px and max-width: 1200px */
@media (min-width: 769px) and (max-width: 1200px) {
  body {
    display: grid;
    grid-template-areas: "header" "navBar" "main" "footer";
    justify-content: end;
    height: 100%; }
  .headerImg {
    height: auto; }
  /* Index */
  main .fondoIndex {
    width: auto;
    background-size: cover; }
  /* Miembros */
  .parrafoMiembros, .parrafoMiembros_1, .parrafoMiembros_2, .parrafoMiembros_3, .parrafoMiembros_4, .parrafoMiembros_5 {
    text-align: center; }
  .miembrosJpg {
    margin: 50px;
    padding: 1px;
    width: 200px;
    height: 200px; }
  /* Banda */
  .fondoBanda {
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; }
  .carousel-inner .carousel-item img {
    padding: 20px;
    width: 350px;
    height: 550px; } }

/* min-width: 480px and max-width: 768px */
@media (min-width: 480px) and (max-width: 768px) {
  body {
    display: grid;
    grid-template-areas: "header" "navBar" "main" "footer";
    justify-content: end;
    height: 100%; }
  .headerImg {
    height: auto; }
  /* Index */
  .fondoIndex {
    width: auto;
    background-image: url(../media/mobile/index_mobile.jpg);
    background-size: cover; }
  .musica {
    display: none; }
  /* Miembros */
  .parrafoMiembros, .parrafoMiembros_1, .parrafoMiembros_2, .parrafoMiembros_3, .parrafoMiembros_4, .parrafoMiembros_5 {
    text-align: center; }
  .miembrosJpg {
    margin: auto;
    padding: 5px;
    width: 150px;
    height: 150px; }
  /* Discografia */
  .setlist .card {
    width: 300px;
    height: 330px; }
    .setlist .card .imgDiscos {
      width: 290px;
      height: 200px; }
  /* Banda */
  .fondoBanda {
    width: 100%;
    background-image: url(../media/banners/blackalbum.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover; }
  .carousel {
    width: 100% !important; }
  footer {
    width: 100%;
    position: fixed;
    bottom: 0; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

body {
  display: grid;
  grid-template-areas: "header " "navBar" "main" "footer"; }

main {
  grid-area: main;
  height: auto;
  width: 100%; }

/* Mapas */
h1 {
  color: #a5a0a0; }

h2 {
  color: #7d7575; }
